### Tag along code for Python quiz

#### Name: EkewveJero Queensley Onovwie

In [1]:
import pandas as pd

In [2]:
balance_datasets = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = "latin-1")

In [5]:
balance_datasets.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [20]:
balance_datasets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [10]:
#Area with the highest values in Y2017
food_area_2017 = balance_datasets[['Area', 'Y2017']]

In [7]:
food_area_2017

           Area     Y2017
0       Algeria  41389.00
1       Algeria      0.00
2       Algeria   3341.00
3       Algeria     92.82
4       Algeria     80.19
...         ...       ...
60938  Zimbabwe     19.00
60939  Zimbabwe      1.33
60940  Zimbabwe      1.00
60941  Zimbabwe      0.04
60942  Zimbabwe      0.02

[60943 rows x 2 columns]

In [11]:
type(food_area_2017)

pandas.core.frame.DataFrame

In [13]:
food_area_sum_2017 = food_area_2017.groupby('Area').Y2017.sum()

In [15]:
#sorting in descending order to get the highest value
food_area_sum_2017.sort_values(ascending = False)

Area
Nigeria                        1483268.23
Egypt                           866379.92
South Africa                    517590.54
Ethiopia                        448683.76
Morocco                         388495.36
Ghana                           337599.06
Algeria                         325644.27
United Republic of Tanzania     322616.85
Kenya                           264660.66
Sudan                           239931.92
Cameroon                        232030.43
Angola                          229159.57
Côte d'Ivoire                   224599.01
Uganda                          213950.38
Malawi                          181098.71
Mozambique                      161407.98
Mauritania                      156665.46
Mali                            149928.33
Madagascar                      131197.73
Niger                           126707.58
Benin                           124771.22
Tunisia                         124167.20
Zambia                          103223.77
Burkina Faso                    101855.07
Guinea                           98138.87
Senegal                          95681.15
Zimbabwe                         75919.34
Rwanda                           73663.69
Chad                             71594.68
Sierra Leone                     55311.33
Eswatini                         54343.33
Mauritius                        51114.83
Togo                             49841.88
Congo                            41181.68
Central African Republic         29937.00
Namibia                          29874.89
Liberia                          29342.20
Gabon                            27979.64
Gambia                           23154.18
Djibouti                         22729.91
Botswana                         22101.30
Lesotho                          21267.96
Guinea-Bissau                    19102.77
Cabo Verde                       14650.74
Sao Tome and Principe            12662.63
Seychelles                         442.34
Comoros                             59.84
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Name: Y2017, dtype: float64

In [19]:
#Calculation of the mean in Y2017
food_area_2017.mean()

Y2017    140.917765
dtype: float64

In [17]:
#standard deviation
food_area_2017.std()

Y2017    1671.862359
dtype: float64

In [21]:
#Inspect the unique values in the Element column
balance_datasets.Element.unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

In [22]:
food_balance_2015 = balance_datasets[['Area', 'Element', 'Y2015']]

In [23]:
food_balance_2015

           Area                                 Element     Y2015
0       Algeria           Total Population - Both sexes  39728.00
1       Algeria                Domestic supply quantity      0.00
2       Algeria           Food supply (kcal/capita/day)   3379.00
3       Algeria  Protein supply quantity (g/capita/day)     94.35
4       Algeria      Fat supply quantity (g/capita/day)     79.36
...         ...                                     ...       ...
60938  Zimbabwe                                    Food     46.00
60939  Zimbabwe     Food supply quantity (kg/capita/yr)      3.33
60940  Zimbabwe           Food supply (kcal/capita/day)      4.00
60941  Zimbabwe  Protein supply quantity (g/capita/day)      0.11
60942  Zimbabwe      Fat supply quantity (g/capita/day)      0.05

[60943 rows x 3 columns]

In [24]:
#Highest protein supply quantity in madagasar in 2015
highest_protein_madgascar_2015 = food_balance_2015[(food_balance_2015.Element == 'Protein supply quantity (g/capita/day)') 
                                                       & (food_balance_2015.Area == 'Madagascar')]

In [25]:
highest_protein_madgascar_2015

             Area                                 Element  Y2015
30718  Madagascar  Protein supply quantity (g/capita/day)  43.26
30721  Madagascar  Protein supply quantity (g/capita/day)  34.04
30724  Madagascar  Protein supply quantity (g/capita/day)   9.23
30740  Madagascar  Protein supply quantity (g/capita/day)  27.26
30756  Madagascar  Protein supply quantity (g/capita/day)   2.14
...           ...                                     ...    ...
32113  Madagascar  Protein supply quantity (g/capita/day)   0.01
32123  Madagascar  Protein supply quantity (g/capita/day)   0.00
32133  Madagascar  Protein supply quantity (g/capita/day)   0.02
32142  Madagascar  Protein supply quantity (g/capita/day)   0.00
32152  Madagascar  Protein supply quantity (g/capita/day)   0.01

[111 rows x 3 columns]

In [26]:
highest_protein_madgascar_2015.Y2015.sum()

173.04999999999998

In [27]:
#what year has the highest stock variation
element_group_year14 = balance_datasets.groupby('Element').Y2014.sum().sort_values(ascending=False)
element_group_year15 = balance_datasets.groupby('Element').Y2015.sum().sort_values(ascending=False)
element_group_year16 = balance_datasets.groupby('Element').Y2016.sum().sort_values(ascending=False)
element_group_year17 = balance_datasets.groupby('Element').Y2017.sum().sort_values(ascending=False)

In [28]:
element_group_year14
element_group_year15 
element_group_year16 
element_group_year17

Element
Domestic supply quantity                  2088198.10
Production                                2030056.89
Food                                      1258888.28
Total Population - Both sexes             1112641.00
Food supply (kcal/capita/day)              454681.00
Import Quantity                            294559.09
Processing                                 292836.00
Feed                                       223705.68
Export Quantity                            182338.80
Losses                                     160614.00
Other uses (non-food)                       91645.97
Stock Variation                             54316.91
Food supply quantity (kg/capita/yr)         48690.04
Residuals                                   35500.00
Seed                                        24870.14
Protein supply quantity (g/capita/day)      11842.45
Fat supply quantity (g/capita/day)          10253.84
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [29]:
element_group_year14

Element
Domestic supply quantity                  1996716.35
Production                                1931287.75
Food                                      1212332.49
Total Population - Both sexes             1031585.00
Food supply (kcal/capita/day)              454257.00
Processing                                 282923.00
Import Quantity                            274144.48
Feed                                       216927.89
Losses                                     153223.00
Export Quantity                            150020.64
Other uses (non-food)                       78718.13
Stock Variation                             58749.83
Food supply quantity (kg/capita/yr)         49650.63
Residuals                                   30149.00
Seed                                        21922.92
Protein supply quantity (g/capita/day)      11836.46
Fat supply quantity (g/capita/day)          10225.56
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [30]:
element_group_year15

Element
Domestic supply quantity                  2021493.55
Production                                1947019.39
Food                                      1232361.10
Total Population - Both sexes             1058081.00
Food supply (kcal/capita/day)              453383.00
Processing                                 287929.00
Import Quantity                            267018.46
Feed                                       225050.22
Export Quantity                            157614.47
Losses                                     155439.00
Other uses (non-food)                       66254.41
Food supply quantity (kg/capita/yr)         49345.13
Stock Variation                             34910.99
Residuals                                   30045.00
Seed                                        23976.82
Protein supply quantity (g/capita/day)      11833.95
Fat supply quantity (g/capita/day)          10235.74
Tourist consumption                           349.00
Name: Y2015, dtype: float64

In [31]:
element_group_year16

Element
Domestic supply quantity                  2044842.70
Production                                1943537.15
Food                                      1247022.17
Total Population - Both sexes             1085107.00
Food supply (kcal/capita/day)              451810.00
Import Quantity                            286582.78
Processing                                 280631.00
Feed                                       228958.65
Losses                                     157787.00
Export Quantity                            151920.46
Other uses (non-food)                       69563.68
Food supply quantity (kg/capita/yr)         48985.28
Residuals                                   37224.00
Stock Variation                             33140.12
Seed                                        23389.20
Protein supply quantity (g/capita/day)      11779.69
Fat supply quantity (g/capita/day)          10102.77
Tourist consumption                            89.00
Name: Y2016, dtype: float64

In [32]:
element_group_year17

Element
Domestic supply quantity                  2088198.10
Production                                2030056.89
Food                                      1258888.28
Total Population - Both sexes             1112641.00
Food supply (kcal/capita/day)              454681.00
Import Quantity                            294559.09
Processing                                 292836.00
Feed                                       223705.68
Export Quantity                            182338.80
Losses                                     160614.00
Other uses (non-food)                       91645.97
Stock Variation                             54316.91
Food supply quantity (kg/capita/yr)         48690.04
Residuals                                   35500.00
Seed                                        24870.14
Protein supply quantity (g/capita/day)      11842.45
Fat supply quantity (g/capita/day)          10253.84
Tourist consumption                            91.00
Name: Y2017, dtype: float64